body {
            font-family: 'roboto', sans-serif;
            margin: 0;
            width: 120%;
            overflow-x: auto;
            background-image: url("../image/aboutback.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color:white
        }

        nav {
            display: flex;
            justify-content: space-between;
            background-color: rgb(195, 33, 33);
            height: 100px;
            width: 100%;
            color: white
        }

        nav ul {
            list-style-type: none;
            flex: 2;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            padding: 10px;
            padding-top: 30px;
        }
        .navbar-nav{flex:1; justify-content: space-around;font-size: 18px;font-weight:500;color:white}

        .nav-link{
            text-decoration: none;
            font-weight: 500;
            font-size: 20px;
            color:white
        }

        .search-box {
            width: 300px;
            border: 1px solid black;
            border-radius: 10px;
            height: 35px;
            background-color: lightgrey;
            margin: 10px;
        }

        .search-box input {
            text-align: left;
            margin-left: 20px;
            width: 270px;
            border: none;
            background-color: lightgray;
        }

        .nav-link.active {
            color: yellow !important
        }

        footer {
            background-color: rgb(195, 33, 33);
            color: white;
            height: 500px;
            padding: 50px 20px;
        }

        .block {
            border-top: 2px solid white;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            font-size: 20px;
        }
        .card1{border-bottom: 1px solid;margin:30px;padding: 30px;font-size: 32px;font-weight: bold;background-color: #223C4B;margin-top: 30px;}
        .card2{border:1px solid;margin:10px;padding:20px;margin-top: 30px;;font-size:20px;border-radius: 10px;}
        .btn{width:220px;height:60px;font-size: 20px;margin:30px;background-color: rgb(195, 33, 33);border:none} .btn a{text-decoration: none;color:white}
        .card4{border-bottom: 1px solid;margin:10px;padding: 10px;font-size: 32px;font-weight: bold;background-color: rgb(13, 38, 23);margin-top: 30px;}
        .card5{border:1px solid;margin:10px;padding:20px;margin-top: 30px;;font-size:20px;border-radius: 10px;background-color: hsla(202, 38%, 21%,0.4);}
         p {text-transform: capitalize;}
        .card6{border-bottom: 1px solid;margin:10px;padding: 10px;font-size: 32px;font-weight: bold;background-color: rgb(13, 38, 23);margin-top: 30px;width:100%   }
        .card7{border:1px solid;margin:10px;padding:20px;margin-top: 30px;;font-size:20px;border-radius: 10px;background-color: rgb(13,38,23);}
        .card3{background-color: rgba(13, 38, 23,.4);width:100% !important;margin: 0 !important;box-sizing: border-box;padding: 0 !important;}
        .card{width:100%;background-color:#223C4B ;color:white ;box-sizing: border-box;margin: 0;padding: 0;}
        .card12{width:100%;color:white ;box-sizing: border-box;background-color: rgb(13, 38, 23);margin: 0;padding: 0;}
        .card13{width:100%;color:white ;box-sizing: border-box;background-color: rgb(9, 7, 14);margin:0;padding: 0;}
        section{margin-bottom: 50px;}

     @media (max-width:600px) {
            body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    /* NAVBAR */
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        gap: 12px;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 16px !important;
        text-align: center;
    }

    /* SEARCH BOX */
    .search-box {
        width: 50%;
        margin: 10px auto;
    }

    .search-box input {
        width: 50%;
        margin-left: 10px;
    }
    footer {
        height: auto;
        padding: 30px 20px;
    }

    footer .col-md-3 {
        margin-bottom: 25px;
        text-align: left;
    }

    .block {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}
 @media (min-width:601px) and (max-width:1024px) {
            body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    /* NAVBAR */
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        gap: 12px;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 16px !important;
        text-align: center;

    }

    /* SEARCH BOX */
    .search-box {
        width: 50%;
        margin: 10px auto;
    }

    .search-box input {
        width: 50%;
        margin-left: 10px;
    }
     footer {
        height: auto;
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap
    }

    footer .col-md-3 {
        margin-bottom: 25px;
        text-align: left;
    }

    .block {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}  
