body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    width: 120%;
    overflow-x: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(195, 33, 33);
    height: 100px;
    width: 100%;
    color: white
}

nav ul {
    list-style-type: none;
    flex: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    padding-top: 30px;
}

.navbar-nav {
    flex: 1;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
    color: white
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: white
}

.search-box {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    background-color: lightgrey;
    margin: 10px;
}

.search-box input {
    text-align: left;
    margin-left: 20px;
    width: 270px;
    border: none;
    background-color: lightgray;
}

.nav-link.active {
    color: yellow !important
}

footer {
    background-color: rgb(195, 33, 33);
    color: white;
    height: 500px;
    padding: 50px 20px;
}

.block {
    border-top: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.card {
    display: flex;
    justify-content: center;
    border: none;
    margin: 100px;
    box-shadow: 0 10px 25px rgb(55, 52, 52);
}

.card-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.card-title {
    margin-top: 50px;
    height: 50px;
    text-align: left;
    border-bottom: 1px solid;
    padding-left: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 40px;
}

.one button {
    margin-left: 20px;
    width: 200px;
    height: 48px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgb(195, 33, 33);
    color: white;
    font-weight: 500;
}

.one {
    border: 1px solid;
    width: 55%;
    margin-bottom: 60px;
    margin-top: 10px;
    background-color: rgba(179, 177, 177, 0.3);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.one input {
    height: 48px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}

.one p {
    margin-top: 25px;
}

.two {
    width: 40%;
    padding: 20px;
}

.two h4 {
    font-weight: bold;
    margin-bottom: 25px;
}

.two p {
    font-size: 20px;
}

.two img {
    margin-right: 10px;
}

.two button {
    height: 48px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(195, 33, 33);
    border-radius: 5px;
    font-size: 20px;
    color: white;
}


@media (max-width:600px) {
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    /* NAVBAR */
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        gap: 12px;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 16px !important;
        text-align: center;
    }

    /* SEARCH BOX */
    .search-box {
        width: 50%;
        margin: 10px auto;
    }

    .search-box input {
        width: 50%;
        margin-left: 10px;
    }

    footer {
        height: auto;
        padding: 30px 20px;
    }

    footer .col-md-3 {
        margin-bottom: 25px;
        text-align: left;
    }

    .block {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        font-size: 10px;
    }

    .card {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .one {
        width: 80%;
        height: auto;
    }

    .one button {
        margin-top: 20px;
        margin-left: 0;
    }

    .two {
        width: 100%;
        height: auto;
    }
}

@media (min-width:601px) and (max-width:1024px) {
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    /* NAVBAR */
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        gap: 12px;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 16px !important;
        text-align: center;

    }

    /* SEARCH BOX */
    .search-box {
        width: 50%;
        margin: 10px auto;
    }

    .search-box input {
        width: 50%;
        margin-left: 10px;
    }

    footer {
        height: auto;
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    footer .col-md-3 {
        margin-bottom: 25px;
        text-align: left;
    }

    .block {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .one button {
        margin-left: 0;
        margin-top: 10px;
    }

    .one {
        width: 40%;
    }
}