body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    width: 120%;
    overflow-x: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(195, 33, 33);
    height: 100px;
    width: 100%;
    color: white
}

nav ul {
    list-style-type: none;
    flex: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    padding-top: 30px;
}

.navbar-nav {
    flex: 1;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
    color: white
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: white
}

.search-box {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    background-color: lightgrey;
    margin: 10px;
}

.search-box input {
    text-align: left;
    margin-left: 20px;
    width: 270px;
    border: none;
    background-color: lightgray;
}

.nav-link.active {
    color: yellow !important
}

footer {
    background-color: rgb(195, 33, 33);
    color: white;
    height: 500px;
    padding: 50px 20px;
}

.block {
    border-top: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 420px;
    justify-content: space-evenly;
    background: linear-gradient(to right, white 20%, rgba(229, 232, 236, 0.5)30%, rgb(205, 209, 217)50%);
}

.card-img {
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 420px;
    filter: brightness(1.1);
}

.card {
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
    height: 420px;
    color: rgb(156, 16, 16);
    padding-right: 20px;
    background: linear-gradient(to right, white 20%, rgba(229, 232, 236, 0.5)30%, rgba(205, 209, 217, 0.9)50%);
    filter: brightness(1.1);
    font-weight: bold;
    border: none;
    border-radius: 0;
}

.card button {
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(156, 16, 16);
    color: white;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 500;
}

.section1 {
    width: 100%;
    display: flex;
    height: 500px;
    justify-content: center;
    background-color: hsla(0, 73%, 96%, 0.9);
    font-size: 24px;
    color: rgb(156, 16, 16);
    font-weight: bold;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 160px;
}

.article {
    height: 520px;
    background-color: hsla(0, 73%, 96%, 0.9);
    gap: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

.card1-img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    gap: 0;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

.box1,
.box2,
.box3,
.box4 {
    width: 255px;
    height: 230px;
    border: none;
    background-color: white;
    padding: 30px;
}

.card-box {
    background-color: rgb(195, 33, 33);
    color: white;
    height: 500px;
    width: 100%;
    padding: 50px 60px;
    line-height: 2;
    font-weight: 500;
}

.article1 {
    height: 500px;
}

.card-box-img {
    height: 500px;
    width: 95%;
    padding-right: 50px;
    padding-left: 50px;
}

.article2 {
    background-color: hsla(0, 73%, 96%, 0.9);
    text-align: center;
    padding: 50px;
    line-height: 1;
}

.btn-outline-secondary {
    font-weight: bold;
    color: black;
    border-radius: 0;
    border: 1px solid black;
}

.modal-top-right {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    transform: none !important;
    width: 600px;
}

.modal-zero-gap {
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width:600px) {
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    /* NAVBAR */
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        gap: 12px;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 16px !important;
        text-align: center;
    }

    /* SEARCH BOX */
    .search-box {
        width: 50%;
        margin: 10px auto;
    }

    .search-box input {
        width: 50%;
        margin-left: 10px;
    }

    footer {
        height: auto;
        padding: 30px 20px;
    }

    footer .col-md-3 {
        margin-bottom: 25px;
        text-align: left;
    }

    .block {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .article {
        height: auto
    }

    .box {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        height: auto;
        width: auto;
    }

    section {
        height: auto;
    }

    .article1 {
        height: auto;
    }

    .card-box {
        height: auto;
    }

    .section1 {
        height: auto;
        text-align: justify;
        padding: 0;
        margin: 0;
    }
    .modal-top-right {
        top: 0 !important;
        left: 50% !important;
        right: auto !important;
        transform: translateX(-50%) !important;
        width: 95% !important; /* fit mobile */
    }
}

@media (min-width:601px) and (max-width:1024px) {
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    /* NAVBAR */
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        gap: 12px;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 16px !important;
        text-align: center;

    }

    /* SEARCH BOX */
    .search-box {
        width: 50%;
        margin: 10px auto;
    }

    .search-box input {
        width: 50%;
        margin-left: 10px;
    }

    footer {
        height: auto;
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    footer .col-md-3 {
        margin-bottom: 25px;
        text-align: left;
    }

    .block {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .article {
        height: auto
    }

    .box {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        gap: 20px
    }

    section {
        height: auto;
    }
    .modal-top-right {
        top: 0 !important;
        left: 50% !important;
        right: auto !important;
        transform: translateX(-50%) !important;
        width: 450px !important;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        height: auto;
        width: auto;
    }

    .article1 {
        height: auto;
    }

    .card-box {
        height: auto;
    }

    .section1 {
        height: auto;
        text-align: justify;
        padding: 0;
        margin: 0;
    }
}